<ion-view title="login" class="padding" ng-controller="EditProjectCtrl">

  <ion-content class="padding padding-horizontal">

    <div class="list card ">

      <label class="item item-icon-left">
        <i class="icon ion-person"></i>
        <input type="text" ng-model="project.customer">
      </label>
      <div class="item item-icon-left">
        <i class="icon ion-folder"></i>
         <input type="text" ng-model="project.name">
      </div>

      <div class="item item-body">
         <input type="text" ng-model="project.description">
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="editProject(project)">
          <i class="icon ion-checkmark-round"></i>
          Validate
        </a>
      </div>

    </div>
  </ion-content>
  <ion-footer-bar class="tabs tabs-icon-only bar bar-footer bar-positive">
    <main-menu></main-menu>
    <a class="tab-item item-icon-right" ui-sref="projects/single-project({projectId: project._id, projectIndex: -1})">
      <i class="icon ion-chevron-left"></i>
    </a>
  </ion-footer-bar>
</ion-view>
