<ion-view title="login"  ng-controller="TasksCtrl" >

  <ion-header-bar class="bar bar-header bar-positive item item-icon-left" align-title="center">
    <i class="icon ion-folder"></i>
    <h1 class="title">{{project.name}}</h1>
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader bar-positive" align-title="center">
    <i class="button button-icon ion-minus-circled" ng-click="shouldShowDelete = !shouldShowDelete"></i>
    <h1 class="title">Tasks</h1>
    <i class="button" ng-click="shouldShowReorder = !shouldShowReorder">Reorder</i>
  </ion-header-bar>

  <ion-content >
    <ion-list
    show-delete="shouldShowDelete"
    show-reorder="shouldShowReorder">
    <ion-item ui-sref="tasks/single-task({projectId: project._id, taskId: task._id})" ng-repeat="task in tasks track by $index" class="item item-icon-right ">
      {{task.name}}
      <i class="icon ion-chevron-right"></i>
      <ion-delete-button class="ion-minus-circled"
      ng-click="deleteTask(project._id, task._id,$index)">
    </ion-delete-button>

    <ion-reorder-button class="ion-navicon"
    on-reorder="moveItem(task, $fromIndex, $toIndex)">
  </ion-reorder-button>
</ion-item>
</ion-list>

</ion-content>
<ion-footer-bar class="tabs tabs-icon-only bar bar-footer bar-positive">
  <main-menu></main-menu>
  <a id="create-task" class="create-button md-fab md-button md-ink-ripple" ui-sref="tasks/create-task({projectId: project._id})">
    <md-icon aria-label="add project" md-svg-src="assets/img/material-icons/ic_add_white_24px.svg" ng-click="shouldShowReorder = false; shouldShowDelete = false"></md-icon>
  </a>
  <back>
    <a class="tab-item item-icon-right" ui-sref="projects/single-project({projectId: project._id, projectIndex: -1})">
      <i class="icon ion-chevron-left" ng-click="shouldShowReorder = false; shouldShowDelete = false"></i>
    </a>
  </back>

</ion-footer-bar>
</ion-view>
