<ion-view title="login" class="padding" ng-controller="TasksCtrl" >
  <ion-header-bar class="bar bar-header bar-positive" align-title="center">
    <i class="button button-icon ion-minus-circled" ng-click="shouldShowDelete = !shouldShowDelete"></i>
    <h1 class="title">{{projectName}}</h1>
    <i class="button" ng-click="shouldShowReorder = !shouldShowReorder">Reorder</i>
  </ion-header-bar>
  <ion-content >

    <ion-list
    show-delete="shouldShowDelete"
    show-reorder="shouldShowReorder">
    <ion-item ng-repeat="task in tasks track by $index" class="item item-icon-right ">
{{task.title}}
<i class="icon ion-chevron-right"></i>
      <ion-delete-button class="ion-minus-circled"
      ng-click="tasks.splice($index, 1)">
    </ion-delete-button>

    <ion-reorder-button class="ion-navicon"
    on-reorder="moveItem(task, $fromIndex, $toIndex)">
  </ion-reorder-button>
</ion-item>
</ion-list>

</ion-content>
<ion-footer-bar align-title="left" class="bar-positive">
  <button ui-sref="tasks/create-task" class="row-center button-center button button-icon ion-plus-round"></button>
  <button ui-sref="projects/single-project" class="button icon-right ion-chevron-left"></button>
</ion-footer-bar>
</ion-view>
