<ion-view title="login" class="padding" ng-controller="ProjectsCtrl">
	<ion-header-bar class="bar bar-header bar-positive" align-title="center">
		<i class="button button-icon ion-minus-circled" ng-click="shouldShowDelete = !shouldShowDelete"></i>
		<h1 class="title">Projects</h1>
		<i class="button" ng-click="shouldShowReorder = !shouldShowReorder">Reorder</i>
	</ion-header-bar>
	<ion-content>

		<ion-list
		show-delete="shouldShowDelete"
		show-reorder="shouldShowReorder">
		<ion-item ui-sref="projects/single-project({projectId: project._id})" ng-repeat="project in projects track by $index" class="item item-icon-right ">
			{{project.name}}
			<i class="icon ion-chevron-right"></i>
			<ion-delete-button class="ion-minus-circled"
			ng-click="deleteProject(project._id,$index)">
		</ion-delete-button>

		<ion-reorder-button class="ion-navicon"
		on-reorder="moveItem(project, $fromIndex, $toIndex)">
	</ion-reorder-button>
</ion-item>
</ion-list>
</ion-content>
<ion-footer-bar class="tabs tabs-icon-only bar bar-footer bar-positive">
	<main-menu></main-menu>
		<a id="create-button" class="create-button md-fab md-button md-ink-ripple" ui-sref="projects/create-project">
			<md-icon aria-label="add project" md-svg-src="assets/img/material-icons/ic_add_white_24px.svg" ng-click="shouldShowReorder = false; shouldShowDelete = false"></md-icon>
		</a>

</ion-footer-bar>
</ion-view>
